<html lang="fr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <title>A Star Wars Story | Nom prénom</title>
    <link rel="stylesheet" type="text/css" href="../static/less/style.less" charset="utf-8">
</head>

<body>
    <div class="app">
        <h1>A star wars story...</h1>
        <div class="zone-wrapper">
            <section class="zone people-zone">
                <h1>People zone</h1>
                <article class="screen">
                        <p>Luke ?!</p>
                </article>
            </section>
            <section class="zone planets-zone">
                <h1>Planets zone</h1>
                <article class="screen">
                    <p>Hey mate ;)</p>
                </article>
            </section>
            <section class="zone starships-zone">
                <h1>Starship zone</h1>
                <article class="screen">
                        <p>I'm a starship yo !</p>
                </article>
            </section>
        </div>
    </div>

    <script src="../static/js/index.js"></script>
</body>

</html>
